* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('img/newbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    max-width: 800px;
    margin: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}


.projects {
    margin-top: 2rem;
}

.taskninja-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    background: url('img/taskpre.png') no-repeat center center fixed;
}

.taskninja-card:hover {
    transform: translateY(-5px);
    background: url('img/taskpost.png') no-repeat center center fixed;
}

.edura-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    background: url('img/edurapre.png') no-repeat center center fixed;
}

.edura-card:hover {
    transform: translateY(-5px);
    background: url('img/edurapost.png') no-repeat center center fixed;
}


.skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}
.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__social a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer__social a:hover {
    color: #00468b;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}